@use '/src/styles/variables';

.wrapper {
    width: 300px;
    height: 29px;

    & ul {
        width: 100% !important;

        & li {
            width: 100%;
            cursor: pointer;
            padding: 10px;

            &:hover {
                background-color: variables.$dropDownHover;
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
            }
        }
    }
}

.closed {
    visibility: hidden;
}

.button {
    width: 100%;
    height: 29px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 500;
    display: flex;
    gap: 5px;
    cursor: pointer;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: variables.$dropDownBtnGray;
    max-width: fit-content;
}

.open {

    margin-top: 10px;
    display: block;
    width: 100%;
    z-index: 10;
    max-width: 100%;
}