$borderColor: #484848;

$errorColor: #FF0000;

.header {
    color: gray;
    font-weight: 700;
    font-size: 1.1250em;
}

.headerError {
    color: rgba(255, 0, 0, 0.5);
    font-weight: 700;
    font-size: 1.1250em;
}




.input {

    height: 46px;
    font-size: 1.1250em;

    &::placeholder {
        font-weight: 700;
    }



    &:hover {
        background-color: rgba(100, 100, 100, 0.08);
        ;
        color: #64646480;
    }



    font-weight: 600;

    vertical-align: middle;
    display: inline-block;
    margin-top: 1px;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid $borderColor;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    transition-property: color,
    background-color,
    border;
    font-size: 15px;
    width: 100%;
}

.error {
    height: 46px;
    font-size: 1.2rem;

    &::placeholder {
        font-weight: 700;
        color: rgba(255, 0, 0, 0.5);
    }

    &:hover {
        background-color: rgba(100, 100, 100, 0.08);
        ;
        color: #64646480;
    }



    font-weight: 600;

    vertical-align: middle;
    display: inline-block;
    margin-top: 1px;
    padding: 0 10px;
    background: white;
    color: rgba(255, 0, 0, 0.5);
    ;
    border: 1px solid $errorColor;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    transition-property: color,
    background-color,
    border;
    font-size: 15px;
    width: 100%;
}

.submitContainer {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: flex-end;


}