@use '/src/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "_reset";

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    overflow: auto;
    font-family: "Roboto", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d-flex {

    display: flex;
}

.justify-center {
    justify-content: center;
    justify-items: center;
}

.items-center {
    align-items: center;
}

.w-full {
    width: 100%;

}

.h-full {
    height: 100%;
}

.gap-5 {
    gap: 5px;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: end;
}

.items-end {
    align-items: end;
}

.text-end {
    text-align: end;
}

.pt-64 {
    padding-top: 64px;
}

.pt-73 {
    padding-top: 73px;
}

.pl-63 {
    margin-right: 63px;
}

.container {
    width: 100%;


    height: 100vh;
    min-height: 100vh;
    overflow: scroll;

    background-color: #f1f5f8;

}

.landingHeaderContainer {
    padding-top: 64px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 20px;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;

    height: 277px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 55px;
    width: 100%;
    background-color: variables.$bgFooter;
    color: black;
    text-align: center;

    @media screen and (max-width: 1000px) {
        display: none;

    }

    @media screen and (max-height: 1300px) {
        display: none;
    }



}

.mt-5 {
    margin-top: 5px;
}

.carouselSection {
    @media screen and (max-width: 1210px) {
        visibility: hidden;

    }


    z-index: 0;
    align-items: center;
    height: 1000px;


}

.mainContainer {
    padding-top: 10px;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media screen and (min-height: 700px) {
        gap: 50px;


    }

}

.resultContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    max-height: 700px;

    input {
        &:focus {
            border: 1px;

            outline: none;
        }
    }

    @media screen and (max-width: 1200px) {
        flex-direction: row;
        column-gap: 0px;

    }


    & ul {
        @media screen and (max-width: 1200px) {
            flex-direction: row;
            column-gap: 0px;
            width: 100%;

        }

        width: 56.7%;
        background-color: white;
        border-radius: 10px;
        padding: 10px;
        height: 60%;
        max-height: 500px;
        overflow: scroll;
    }

    & #select {
        padding-left: 30px;


        border-radius: 10px;
        padding-top: 50px;

        height: 100%;
        justify-content: start;
        display: flex;
        overflow: hidden;


    }


}

.searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    z-index: 50;
    gap: 30px;
    height: auto;
    max-width: 775px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding-top: 50px;
        //do Smth
    }
}

.findInContainer {

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-items: center;
    text-align: start;
    align-items: center;
    gap: 5px;
}





.text-start {
    text-align: start;
}

.heading {
    font-size: 32px;
    line-height: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: start;
    width: 100%;
}

.headerButtonContainer {


    margin-right: 63px;
    width: 197px;
    height: 46px;

}

.landingSearchButtonContainer {
    padding-left: 10px;
    width: 138px;
    height: 48px;
}

.logoDescription {

    font-weight: 700;
    padding-top: 11px;
    display: flex;
    justify-content: end;
    position: relative;

    left: 20px !important;

    @media screen and (max-width: 1200px) {
        display: flex;
        justify-items: center;
        align-items: center;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100%;

        //do Smth
    }


}


.cursor-pointer {

    cursor: pointer;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 9px;

    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 590px;
    overflow: hidden;
}