@use '/src/styles/variables';

* {
    box-sizing: border-box;
}

.input-result-container {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.input-result {
    width: 100%;

    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

.solid {
    margin-top: 5px;
    width: 90%;
    border-top: 0.2px solid gray;
    display: flex;
    justify-items: center;



}

.input-result-item {

    &:hover {
        background: variables.$hoverPrimary;
        color: white;
        padding: 10px;

        & p {
            color: white;
        }

        & svg {
            color: white;
        }

    }

    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    gap: 10px;
    padding: 10px;

    flex-direction: row;
    justify-items: center;
    align-items: center;
    text-align: start;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        //do Smth
    }

    border-radius: 10px;



    & h1 {
        font-size: 16px;
        font-weight: 400;


    }

    & p {
        font-size: 14px;
        font-weight: 400;

        color: variables.$textGray;

    }

    & svg {



        width: 18px;
        height: 22px;
    }

}

.input-result-item-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 4px;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 10px;

    }

    width: 100%;




}