.contact {
    & h1 {
        width: 100%;
        display: flex;
        text-align: start;
        justify-items: start;
        font-size: 1.1250em;
    }

    & p :nth-child(1) {

        position: relative;
        top: 20px;
    }

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    max-width: 424px;
    padding-left:25px;
}

.map {
    padding-left: 31px;

    width: 100%;

    & iframe {
        width: 100%;
    }
}